<div *ngIf="patient" class="row">
  <aside class="col-md-push-9 col-md-3 text-center text-md-left text-lg-left">
    <header>
      <div style="font-size: 20px" [hidden]="patient.title.length == 0">({{ patient.title }})</div>
      <h2>
        {{ patient.surname }}
      </h2>
      <h4>{{ patient.names }}</h4>
    </header>

    <section>
      <div> {{ patient.age }}-yr old </div>
      <div> {{ patient.telephone }} </div>
      <div> {{ patient.occupation }} </div>
      <div> {{ patient.address }} </div>
      <div> {{ patient.created | date }} </div>
    </section>

    <footer class="add-top add-bottom">
      <h4>
        <span>{{ patient.reg_id }}</span>
      </h4>
    </footer>
  </aside>

  <article class="col-md-pull-3 col-md-9">
    <patient-sessions
      @toggle
      class="sessions"
      (actions)="actions.emit($event)"
      [patient]="patient">
    </patient-sessions>
  </article>
</div>
